---
import TitleHeader from "../../common/TitleHeader";
import BorderContainer from "@/components/common/BorderContainer";
---

<BorderContainer>
  <TitleHeader title="About Me" />
  <p class="text-base md:text-[18px]">
    Passionate and detail-oriented <b>Front-End Developer</b> with over three years of
    experience building <b>high-performance, responsive, and visually engaging</b> web
    applications. Proficient in <b>React</b>, <b>Next.js</b>, and modern UI frameworks like
    <b>Material-UI</b> and <b>Tailwind CSS</b>. Adept at developing browser extensions,
    dynamic web platforms, and interactive landing pages that enhance user
    engagement and functionality. Strong problem-solving skills and a
    collaborative mindset, with a commitment to staying up-to-date with the
    latest industry trends and best practices.
  </p>
</BorderContainer>
