---
import Main from "@/layouts/main.astro";
import Hiro from "@/components/main/hero/Hero.astro";
import Skills from "@/components/main/skills/Skills.astro";
import About from "@/components/main/about/About.astro";
import Experience from "@/components/main/experience/Experience.astro";
import Projects from "@/components/main/projects/Projects.astro";
import LatestBlogs from "@/components/main/blog/LatestBlogs.astro";
---

<Main content={{ title: "Amin Modaresi" }}>
  <Hiro />
  <About />
  <Skills />
  <Experience />
  <Projects />
  <LatestBlogs />
</Main>
