---
import Main from "@/layouts/main.astro";
import Hiro from "@/components/main/hero/Hero.astro";
import "../styles/global.css";
import "../styles/font.css";
import Skills from "@/components/main/skills/Skills.astro";
import About from "@/components/main/about/About.astro";
import Experience from "@/components/main/experience/Experience.astro";
import Projects from "@/components/main/projects/Projects.astro";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<Main content={{ title: "Amin Modaresi" }}>
  <Hiro />
  <About />
  <Skills />
  <Experience />
  <Projects />
</Main>
